# Canonical https/www
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} ^https://admiral-studios-next-js-kappa.vercel.app/blog/page/1 [NC]
	RewriteRule (.*) https://admiral-studios-next-js-kappa.vercel.app/blog [L,R=301]
</IfModule>