.blogs-page {
  padding: 50px 64px 334px 64px;
  background-color: #006cff;
  position: relative;

  .blogs-page-heading {
    padding: 0;
    position: relative;
    .blogs-page-heading-anchor-line {
      position: absolute;
      background: transparent;
      height: 0px;
      width: 100%;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  & p,
  & h1 {
    color: #fff;
    font-weight: 800;
  }

  @media (max-width: 1600px) {
    padding-bottom: 250px;
  }

  @media (max-width: 767px) {
    padding: 0 32px 224px 32px;
  }

  &-mainPost {
    position: absolute;
    // top: 44.7%;
    top: 46.7%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -25%);

    @media (max-width: 1600px) {
      top: 50%;
    }

    @media (max-width: 1300px) {
      position: static;
      transform: none;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 32px 0;
    }
  }

  &-heading {
    text-align: center;
    padding-top: 50px;
    @media (max-width: 767px) {
      padding-top: 50px;
    }
    h1 {
      font-size: 44px;
      @media (max-width: 767px) {
        font-size: 36px;
      }
    }
    p {
      font-size: 14px;
      padding-top: 15px;
      @media (max-width: 767px) {
        font-weight: 400;
      }
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 125px 0 25px;
    gap: 32px;

    &:last-child {
      padding-top: 110px;
    }

    @media (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 32px 0;
      gap: 64px;
      align-items: center;

      &:first-child {
        padding-top: 64px;
      }
      &:last-child {
        padding-top: 32px;
      }
    }

    @media (max-width: 736px) {
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
