.post {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & p,
  h2 {
    font-weight: 800;
    max-width: 368px;
  }
  @media (max-width: 1600px) {
    max-width: 420px;
  }
  @media (max-width: 1300px) {
    max-width: 420px;
  }
  @media (max-width: 320px) {
    max-width: 300px;
  }
  &-heading {
    display: flex;
    justify-content: space-between;
    & p,
    h2 {
      color: #fff;
      font-size: 14px;
    }
  }

  & img {
    width: 424px;
    height: 544px;
    object-fit: cover;
    @media (max-width: 1600px) {
      max-width: 320px;
      height: 400px;
    }
    @media (max-width: 1300px) {
      max-width: 320px;
    }
    @media (max-width: 320px) {
      max-width: 300px;
    }
  }
  &-body-text {
    font-size: 19px;
    color: #fff;
    @media (max-width: 1600px) {
      font-size: 16px;
    }
  }
}
