@import 'styles/variables';

.footer {
  padding: 20px 0;
  position: relative;
  padding-top: 150px;
  & p {
    font-weight: 700;
  }
  @media (max-width: 768px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
  }
  &-wave {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    z-index: 10;
  }
  &-text {
    margin-bottom: 16px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &-contact_link {
    letter-spacing: -0.05em;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &-inst {
    & > img {
      width: 22px !important;
      height: 22px !important;
    }
  }
  &-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
    @media (max-width: 768px) {
      margin-top: 200px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 567px) {
      margin-top: 80px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-right {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }
      &-links {
        display: flex;
        align-items: center;
      }
      p {
        margin-right: 40px;
        @media (max-width: 768px) {
          margin: 0 0 40px;
        }
      }
      a {
        display: flex;
        align-items: center;
        margin: 0 8px;
        img {
          height: 18px;
          width: 100%;
        }
      }
    }
  }
}
