@import "styles/variables";

.free-audit-form {
  label {
    padding-bottom: 10px;

    input {
      font-size: 18px;
      line-height: 23px;
      @media (max-width: 768px) {
        font-size: 17px;
        line-height: 21px;
      }
      @media (max-width: 567px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    & ~ div {
      bottom: 12px;
    }
  }

  form {
    button {
      width: 137px;
    }
  }
}
